.landing{
	&__title{
	  font-size: $font-size-1;
	  font-weight: 700;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.25;
	  letter-spacing: normal;
	  text-align: center;
	  color: $color-white-1;
	  font-family: $font-reg;
	}
	&__subtitle{
	  font-family: $font-reg;
	  font-size: 1.25rem;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.2;
	  letter-spacing: normal;
	  text-align: center;
		width: 23.35rem;	
		padding: 0 0.50rem;
		color: $color-blue-4;
	}
	&__txt{
		color: $color-white-1;
		&--1{
			width: 11.95rem;
		  height: 1.50rem;
		  font-family: $font-reg;
		  font-size: 1.25rem;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.2;
		  letter-spacing: normal;
		  text-align: center;     
	    margin-top: 10.05rem;
		}
	}
}

.main{
	&__title{
	  font-family: $font-reg;
	  font-size: $font-size-1;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.25;
	  letter-spacing: normal;
	  color: #fff;
		margin-top: 1.05rem;
		&--1{
			width: 43.25rem;
		  height: 6.60rem;
		}
		&--2{
			width: 39.55rem;
			height: 9.20rem;
		}
		&--3{
			width: auto;
			height: 3.25rem;
		}
	}
	&__direction{	 
	  font-family: $font-reg;
	  font-size: $font-size-2;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.32;
	  letter-spacing: normal;
	  color: #fff;		
		margin-top: 0.80rem;

		&--1{
			width: 21.30rem;
		}
	}
}

.pagination{
	&__num{
	  flex: 0 0 0.55rem;
	  height: 0.90rem;
	  font-family: $font-reg;
	  font-size: $font-size-3;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.29;
	  letter-spacing: normal;
	  text-align: right;
	  color: $color-white-1;
	}
}

.selection{
	&__text{
	  font-family: $font-reg;
	  font-size: 1.25rem;
	  font-weight: bold;
	  font-style: normal;
	  color: $color-white-1;
	  font-stretch: normal;
	  line-height: 1.2;
	  letter-spacing: normal;
	  letter-spacing: -0.01em;
	
		.selection__container--active &{
			color: $color-blue-1;
		}
	}
}

.results{
	&__logo{
	  width: 12.65rem;
	  height: 3.20rem;
	  font-family: $font-reg;
	  margin-top: 3.05rem;
	  font-size: 1.25rem;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.2;
	  letter-spacing: normal;
	}
	&__copy{
	 	width: 30.00rem;
	  font-family: $font-reg;
	  font-size: $font-size-2;
	  font-weight: normal;
	  background-color: orangered;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.32;
	  letter-spacing: normal;
	  text-align: center;
	  margin: 0 auto;
	  margin-top: 3.80rem;
	}
}

.dial{
	&__text{

		font-family: $font-reg;
	  font-size: $font-size-2;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.32;
	  letter-spacing: normal;
		margin-top: 0.25rem;	  
	  color: $color-white-1;	  	  
		
		&--1{
		  text-align: center;
			width: 6.60rem;

  	}
  	&--2{
  		margin-left: 1.00rem;
  	}
  	&--3{
  		margin-right: 1.00rem;
  	}
  }
}

.cta{
	&__txt{
	  width: 15.55rem;
	  font-family: $font-reg;
	  font-size: $font-size-5;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.31;
	  letter-spacing: normal;
	  color: $color-white-1;


		& > b{
			font-weight: 700;
		}
	  &--1{
		  height: 4.20rem;
	  }
	  &--2{
	  	height: 3.20rem;
	  }	  
	  &--3{
	  	height: 2.75rem;
	  	&-a{
		    letter-spacing: -.01em;
	  	}
	  }	 
	}
}

.scroller{
	&__title{
	  font-family: $font-reg;
	  font-size: $font-size-2;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.58;
	  letter-spacing: normal;
	  color: $color-blue-2;
	  display: flex;
	  align-items: center;
	  margin-right: auto;	  
		.scroller__content--active &{
		  height: 3.55rem;
		  font-size: $font-size-6;
		  line-height: 1.67;
		}
	}
	&__step{
	  font-family: $font-reg;
	  font-size: $font-size-3;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.29;
	  letter-spacing: normal;
	  text-align: right;
	  color: $color-blue-2;
	  margin-top: 1.70rem;
		display: none;
		
		.scroller__content--active &{
			display: block;
		}
	}
	&__description{
	  width: 8.99rem;	  
	  font-family: $font-reg;
	  font-size: $font-size-2;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.32;
	  letter-spacing: normal;
	  color: $color-blue-2;
		&--2{
			text-align: right;
	    width: 6.65rem;
		}
	}
}