@mixin clearfix{
	&::after{
		content:'';
		display: table;
		clear:	both;
	}
}

@mixin artboard-top-center{	 
  transform-origin: top center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin bp($point) {
  @media only screen and (max-width: $point+px){ @content; }           
}
@mixin bph($point) {
  @media only screen and (max-height: $point+px){ @content; }           
}

// MEDIA QUERY MANAGER

/*
		0-767px:      Phone
		768-910px:    Tablet portrait
		910-1024:     Tablet landscape
		1025- x:      Desktop
*/

/*
$Breakpoint argument choices:
-phone
-port
-land
-desk
*/

// ORDER: Base + typography > gen layout + grid > page layout > components
