// FONT-SIZE
$font-size-1:	2.4rem;
$font-size-2:	0.95em;
$font-size-3:	0.7em;
$font-size-4: 1.25rem;
$font-size-5: .8rem;
$font-size-6: 1.80rem;
$font-size-7: 1.75rem;

$font-size-8: 1.4rem;

// FONT-FAMILY
$font-reg: Univers, Arial, Helvetica, sans-serif;

// COLORS
$color-blue-1: #00758f;
$color-blue-2: #324b5c;
$color-blue-3: #8aadbf;
$color-blue-4: #cad9de;

$color-white-1: #fff;
$color-white-2: #fffffe;

$color-black-1: #000000;

$color-grey: #dee0e0;
$color-grey-1: #939699;
$color-grey-2: #4e5052;

$color-red-1: #f80000;


// DINAMIC DIAL 
    //width
$dial-DeskL: 93.5vh;
$dial_DeskS: 78vh;
$dial_TabL: 69.232vh;
$dial_TabL: 69.232vh;


@include bp_wh(2000, 751) {
        $dial-width: 73vh;
}


    //max-width
$dial-width-max: 56.15vw;


