.page{
	&__content{
    width: 70.00rem;
    margin: 0 auto;
		padding-top: 4.00rem;	
		position: relative;
	
		@include bp(1050){
			width: 42.49rem;
		}


		.page--2 & > *,
		.page--3 & > *,
		.page--4 & > *,
		.page--5 & > *,
		.page--6 & > *,
		.page--7 & > *,
		.page--8 & > *,{
			opacity: 0;
			transition-property: opacity;
	    transition-duration: 1.5s;
	    transition-delay: .5s;
		}
		.page & > .cta__wrapper{
			transition-delay: 1s;	
		}


		.page.activate & > *{
			opacity: 1;
		}


		& > .btn__regress{
			opacity: 1;
		}	
	}
}