.page{
	&__content{
    width: 70rem;
    margin: 0 auto;
		padding-top: 4.00rem;	
		position: relative;

				
		&--x{
			padding-top: 6.00rem;
		}


		.main-container--x &{
			padding-top: 0;
			border-radius: 0.20rem;
		  border: solid 0.10rem $color-blue-1;
			height: 42.00rem;
			background-color: green;
		}

		@include bp(1440){
			width: 83.333%;
		}


		.page--2 & > *,
		.page--3 & > *,
		.page--4 & > *,
		.page--5 & > *,
		.page--6 & > *,
		.page--7 & > *,
		.page--8 & > *,{
			opacity: 0;
			transition-property: opacity;
	    // transition-duration: 1.5s;
	    // transition-delay: .5s;

	    transition-duration: .5s;
		}
		.page & > .cta__wrapper{
			// transition-delay: 1s;	
			transition-delay: .5s;	
		}


		.page.activate & > *{
			opacity: 1;
		}


		& > .btn__regress{
			opacity: 1;
		}	
	}
}