.page{
	&__content{
    width: 70rem;
    margin: 0 auto;
		padding-top: 4.00rem;	
		position: relative;

				
		&--x{
			padding-top: 6.00rem;
		}

		.main-container--x &{
			padding-top: 0;
			border-radius: 0.20rem;
		  border: solid 0.10rem $color-blue-1;						
			height: 42.00rem;
			// background-color: green;
			transition: all 1100ms;
		}

		.page.zoomed &{
			border: solid 1rem $color-blue-1;	
		}

		&--y{
			padding-top: 2.00rem;
			padding-left: 5.85rem;
			transition: all 1100ms;

			.main-container--x &{
				padding-top: 2rem;
				overflow: hidden;
			}

			.page--2.zoomed &,
			.page--3.zoomed &,
			.page--4.zoomed &,
			.page--5.zoomed &,
			.page--6.zoomed &,
			.page--7.zoomed &,{
				width: 85.50rem;
				height: 82.50rem;
			}

			.zoomed &{
				padding: 3.5rem 8rem 12.5rem 12rem;
			}
		}		

		@include bp(1440){
			width: 83.333%;
			@include bp(600){
				padding-top: 3.00rem;
			}
		}
		@include bp(767){
			width: 100%;
			padding: 4rem .8rem 0 .8rem;
		}


		.page--2 & > *,
		.page--3 & > *,
		.page--4 & > *,
		.page--5 & > *,
		.page--6 & > *,
		.page--7 & > *,
		.page--8 & > *,{
			opacity: 0;
			transition-property: opacity;
	    transition-delay: .5s;

	    transition-duration: .5s;
		}


		.page & > .cta__wrapper{
			// transition-delay: 1s;	
			transition-delay: .5s;	
		}

		.page--7 & > *{
			transition-property: opacity;			
			transition-duration: .05s;
		}
		.page--7 & > .cta__wrapper{
			transition-property: opacity;			
			transition-duration: .1s;
		}


		.page.activate & > *{
			opacity: 1;
		}

		.page.zoomed & > *{
			opacity: 0;
		}
		// .page.zoomed & > .page__zoomed--header,
		// .page.zoomed & > .main__title--x,
		.page.zoomed & > .dial-group,
		.page.zoomed & > .selection__wrapper,
		.page.zoomed & > .detscroll__wrapper,{
			opacity: 1;
		}


		& > .btn__regress{
			opacity: 1;
		}	
	}
}