.page{
	position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;

  &--1{  	
  }
  &--2{
    top: 50rem;
    left: 92.70rem;	
  }
  &--3{
    top: 100rem;
    left: 278.10rem;
  }
  &--4{
    // top: -300vh;
    // left: 300vw;
  
    top: -150rem;
    left: 278.10rem; 
  }
  &--5{
    top: -150rem;
    left: 0px;
  }
  &--6{
    // top: -300vh;
    // left: -300vw;
    top: -150rem;
    left: -278.10rem;
  }
  &--7{
  	// top: 200vh;
  	// left: -200vw;
    top: 100rem;
    left: -185.40rem;
  }
  &--8{
    top: 189.19rem;
    overflow-y: overlay;
  }

  .main-container--x &{
    padding-top: 7.80rem;
  }

  &--x{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    
    &.deactivate{
      z-index: -1;
      background-color: transparent;  
    }
  }

  &--z{
    .main-container--x &{
      padding-top: 0rem;
    }
  }

 &__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    margin-left: -5.85rem;
    margin-top: -2rem; 
    z-index: 10000;       
 } 
}