.page{
	position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;

  &--1{  	
  }
  &--2{
    top: 155vh;
    left: 92.70rem;	
  }
  &--3{
    top: 310vh;
    left: 278.10rem;
  }
  &--4{
    // top: -300vh;
    // left: 300vw;
  
    top: -472vh;
    left: 278.10rem; 
  }
  &--5{
    top: -472vh;
    left: 0px;
  }
  &--6{
    // top: -300vh;
    // left: -300vw;
    top: -472vh;
    left: -278.10rem;
  }
  &--7{
  	// top: 200vh;
  	// left: -200vw;
    top: 310vh;
    left: -185.40rem;
  }
  &--8{
    top: 582vh;
    overflow-y: overlay;
  }

  .main-container--x &{
    padding-top: 7.80rem;
  }

  &--x{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    
    &.deactivate{
      z-index: -1;
      background-color: transparent;  
    }
  }


}