.cta{
	&__wrapper{
  width: 35.40rem;
  border: 2px solid $color-blue-1;
	position: absolute;
	left: 65vw;
	padding: 0.80rem 0 0.80rem 0.80rem;
	top: 100%;
	transform: translate(0%, -100%);
	
		@include bp_min(1441){
			left: 53.4rem;
	
			.main-container--x &{
		    left: 46.4rem;
			}
		}
		@include bp(1250){
			left: 59vw;
		}

		&--1,
		&--2,
		&--4{
			@include bp_min(1441){
				@include bph_min(1200){
					top: 156%;
					left: 24rem;
					width: 90rem;
				}
			}
			@include bp(1440){
				@include bph_min(1000){
					top: 180%;
					left: 24vw;
					width: 90rem;

					@include bp_min(1200){
						top: 168%;

					}
				}
			}
			@include bp(1024){
				@include bph_min(810){
					top: 187%;
					left: 24vw;
				}
			}
			@include bp(910){
				left: 53vw;
				@include bph_min(725){
					top: 200%;
					left: 24vw;
				}
			}
			@include bp(767){
				left: 52vw;
				display: none;
				@include bph_min(715){
					display: block;
					top: 220%; 
					left: 24vw;
				}
				@include bph_min(725){
					top: 200%; 
				}
			}
			// Mobile S
			@include bp(666){
				display: none;
			}
		}	

		&--3{
			transform: translateY(0%);
			top: 15.1rem;	
			left: auto;
			right: -20rem;

			@include bp_min(1441){
				@include bph(750){
					top: 13.25rem;
				}
				@include bph(650){
					top: 9.2rem;
				}
				@include bph_min(1050){
					width: 100rem;
					top: calc((100vh + 19rem) / 2);
					right: -53rem;
				}
			}
			@include bp(1440){
				top: 14.2rem;
				left: auto;
				right: -23rem;
				@include bph(750){
					top: 12.25rem;
				}
				@include bph(650){
					top: 9.3rem;
				}
				@include bph_min(850){
					width: 38.5rem;
					top: calc((100vh + 19rem) / 2);
					right: -8rem;
				}
			}
			@include bp(1150){
				right: -25rem;
				@include bph_min(850){
					width: 38.5rem;
					top: calc((100vh + 19rem) / 2);
					right: -8rem;
				}
			}
			@include bp(1024){
				top: 13.85rem;

				@include bph(750){
					top: 12rem;
				}
				@include bph(570){
					display: none;
				}
				@include bph_min(850){
					top: calc((100vh + 19rem) / 2);
				} 
			}
			@include bp(910){
				@include bph(660){
					top: 9.2rem
				}
				@include bph(600){
					display: none;
				}
				@include bph_min(850){
					top: calc((100vh + 19.5rem) / 2);
					right: auto;
					left: 5.7rem;
				}
			}
			@include bp(767){
				display: none;
				@include bph_min(726){
					display: block;
					top: calc((100vh + 12.7rem) / 2);
					right: auto;
					left: 5.7rem;
				}
			}
			@include bp(666){
				display: none;
			}

		}

		&--5{
			top: 39.2rem;
			right: -20.5rem;
			left: auto;
			

			@include bph(1015){ top: 31.1rem; }
			@include bph(750){ top: 28.1rem; }
			@include bph(675){ top: 27.1rem; }
			@include bph(650){ top: 20.5rem; }

			@include bp(1440){ 
				top: 35.2rem;
				right: -22rem; 

				@include bph(1015){ top: 27.1rem; }
				@include bph(675){ top: 26.2rem; }
				@include bph(650){ top: 23.3rem; }
				@include bph(600){ top: 20.3rem; }
			}
			@include bp(1024){ 
				top: 25.9rem;

				@include bph(800){ top: 25.5rem; }
				@include bph(650){ top: 22.7rem; }
				@include bph(600){ top: 18.7rem; }
				
				@include bph_min(815){ 
					top: 36.5rem; 
					right: -8.8rem;
				}
				@include bph_min(1016){ 
					top: 34rem;
					right: -22rem; 
				}
			}
			
			
			@include bp(910){ 
				right: -25rem; 
				top: 27.1rem;
			
				@include bph(800){ top: 26.7rem; }
				@include bph(650){ top: 23.9rem; }
				@include bph(600){ top: 21.1rem; }
				@include bph(550){ top: 19.9rem; }

				@include bph_min(811){ 
					top: 36.5rem; 
					right: -13.401rem;
				}
				@include bph_min(1016){ 
					top: 35.3rem;
					right: -25rem; 
				}
			}

			@include bp(767){ 
				display: none; 
				@include bph_min(730){
					display: block;
					top: 33.9rem; 
					right: -10.35rem;
					padding: .6rem
				}
				@include bph_min(1016){ display: none; }
			}
			@include bp(666){ display: none; }
		}

		&--6{
			top: 46.2rem;
			right: -20.5rem;
			left: auto;

			@include bph(1015){ top: 32.8rem; }
			@include bph(750){ top: 29.8rem; }
			@include bph(675){ top: 28.75rem; }
			@include bph(650){ top: 22.1rem; }

			@include bp(1440){ 
				top: 42.2rem;
				right: -22rem; 

				@include bph(1015){ top: 28.8rem; }
				@include bph(675){ top: 27.75rem; }
				@include bph(650){ top: 24.9rem; }
				@include bph(600){ top: 22.0rem; }
				}

			@include bp(1024){ 
				top: 27.5rem;

				@include bph(800){ top: 27.1rem; }
				@include bph(650){ top: 24.3rem; }
				@include bph(600){ top: 20.3rem; }

				@include bph_min(815){ 
					top: 36.5rem; 
					right: -8.8rem;
				}
				@include bph_min(1016){ 
					top: 40.95rem;
					right: -22rem; 
				}
			}

			@include bp(910){
				right: -25rem;

				@include bph(600){ top: 21.3rem; }
				@include bph(550){ top: 20.3rem; }

				@include bph_min(811){ 
					top: 36.5rem; 
					right: -13.401rem;
				}
				@include bph_min(1016){ 
					top: 40.95rem;
					right: -22rem; 
				}
			}

			@include bp(767){ 
				display: none; 
				@include bph_min(730){
					display: block;
					top: 33.9rem; 
					right: -10.35rem;
					padding: .6rem
				}
				@include bph_min(750){ top: 34.5rem; }
				@include bph_min(1016){ display: none; }
			}
			@include bp(666){ display: none; }
		}
	}

	&__btn{
		width: 8.45rem;
		height: 1.80rem;
		border: 1px solid $color-white-1;
		margin-top: 1.10rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		padding: 0.20rem 0.45rem;
		text-decoration: none;
		
		&--2{

		}

		&:hover{
			background-color: $color-white-1;

			& > .btn__txt{
				color: $color-blue-2;
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow-blue.svg');
			}
		}
	}
}