.cta{
	&__wrapper{
    width: 35.40rem;
    border: 2px solid $color-blue-1;
	position: absolute;
	left: 65vw;
	padding: 0.80rem 0 0.80rem 0.80rem;
	top: 100%;
	transform: translate(0%, -100%);
	
		@include bp_min(1441){
			left: 53.4rem;
		}
		@include bp(1250){
			left: 59vw;
		}

		&--1,
		&--2,
		&--4{
			@include bp_min(1441){
				@include bph_min(1200){
					top: 170%;
					left: 24rem;
					width: 90rem;
				}
			}
			@include bp(1024){
				@include bph_min(810){
					top: 180%;
					left: 24vw;
				}
			}
			@include bp(910){
				left: 50vw;
				@include bph_min(750){
					top: 193%;
					left: 24vw;
				}
			}
		}
	

		&--1{
		}
		&--2{
		}				
		&--3{
			transform: translateY(0%);
			top: 15.1rem;	
			left: auto;
			right: -21rem;
		
			@include bp(1440){
				top: 13.3em;
				left: auto;
				right: -23rem;
			}
			@include bp(1150){
				right: -25rem;
			}
			@include bp(1024){
				top: 13rem
			}
		}
		
		&--4{
			&-a{
				top: 37.80rem;
			}
		}

		&--5{
			top: 38.2rem;
			left: auto;
			right: -21rem;
			@include bp(1440){
				top: 38.5rem;
			}
			@include bp(1024){
				top: 38.2rem;
				right: -22rem;
			}
		}

		&--6{
			left: auto;
			top: 45.1rem;
			right: -20.5rem;

			@include bp(1440){
				top: 45.5rem;
				right: -22rem
			}
			@include bp(1024){

			}
		}
	}

	&__btn{
		width: 8.45rem;
		height: 1.80rem;
		border: 1px solid $color-white-1;
		margin-top: 1.10rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		padding: 0.20rem 0.45rem;
		text-decoration: none;
		
		&--2{

		}

		&:hover{
			background-color: $color-white-1;

			& > .btn__txt{
				color: $color-blue-2;
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow-blue.svg');
			}
		}
	}
}