.cta{
	&__wrapper{
  width: 35.40rem;
  border: 2px solid $color-blue-1;
	position: absolute;
	left: 65vw;
	padding: 0.80rem 0 0.80rem 0.80rem;
	top: 100%;
	transform: translate(0%, -100%);
	
		@include bp_min(1441){
			left: 53.4rem;
	
			.main-container--x &{
		    left: 46.4rem;
			}
		}
		@include bp(1250){
			left: 59vw;
		}

		&--1,
		&--2,
		&--4{
			@include bp_min(1441){
				@include bph_min(1200){
					top: 156%;
					left: 24rem;
					width: 90rem;
				}
			}
			@include bp(1440){
				@include bph_min(1000){
					top: 180%;
					left: 24vw;
					width: 90rem;

					@include bp_min(1200){
						top: 168%;

					}
				}
			}
			@include bp(1024){
				@include bph_min(810){
					top: 187%;
					left: 24vw;
				}
			}
			@include bp(910){
				left: 53vw;
				@include bph_min(750){
					top: 200%;
					left: 24vw;
				}
			}
		}	

		&--3{
			transform: translateY(0%);
			top: 15.1rem;	
			left: auto;
			right: -23rem;
		
			@include bp_min(1441){
				@include bph(650){
					top: 9.2rem;
				}
			}
			@include bp(1440){
				top: 14.2rem;
				left: auto;
				right: -23rem;
				@include bph(650){
					top: 9.3rem;
				}
				@include bph_min(850){
					width: 38.5rem;
					top: 32rem;
					right: -8rem;
				}
			}
			@include bp(1150){
				right: -25rem;
				@include bph_min(850){
					width: 38.5rem;
					top: 32rem;
					right: -8rem;
				}
			}
			@include bp(1024){
				@include bph(650){
					top: 12rem;
				}
				@include bph(570){
					display: none;
				}
				@include bph_min(651){
					display: block;
					top: 13.9rem;
				}
				@include bph_min(850){
					top: 32rem;
					right: -8rem;
				}
			}
		}
		
		&--5{
			top: 38.5rem;
			left: auto;
			right: -21rem;
			
			@include bp(1440){
				right: -22rem;
			}

			@include bph(1000){
				top: 30.4rem;
			}
			@include bph(725){
				top: 27.5rem;
			}
			@include bph(675){
				top: 27.0rem;
			}
			@include bph(650){
				top: 24.1rem;
			}
			@include bph(600){
				top: 22.6rem;
			}
		}

		&--6{
			left: auto;
			top: 45.5rem;
			right: -20.5rem;

			@include bp(1440){
				right: -22rem;
			}

			@include bph(1000){
				top: 31.9rem;
			}
			@include bph(725){
				top: 29.1rem;
			}
			@include bph(675){
				top: 28.6rem;
			}
			@include bph(650){
				top: 25.7rem;
			}
			@include bph(600){
				top: 24.2rem;
			}
		}
	}

	&__btn{
		width: 8.45rem;
		height: 1.80rem;
		border: 1px solid $color-white-1;
		margin-top: 1.10rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		padding: 0.20rem 0.45rem;
		text-decoration: none;
		
		&--2{

		}

		&:hover{
			background-color: $color-white-1;

			& > .btn__txt{
				color: $color-blue-2;
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow-blue.svg');
			}
		}
	}
}