.cta{
	&__wrapper{
    width: 35.40rem;
    border: 2px solid $color-blue-1;
    position: absolute;
    left: 52.40rem;

		@include bp(1050){
    	left: 30.10rem;
    }
    

    padding: 0.50rem 0 0.80rem 0.80rem;
		&--1{
      top: 31.6rem;
	    height: 8.40rem;
	    @include bp(1050){
	    	top: 22.90rem;    
	    }
		}
		&--2{
			top: 30.20rem;	    
	    height: 7.20rem;
		}		
		&--3{
	    top: 15.35rem;
	    height: 6.55rem;			
		}
		&--4{
			top: 35.70rem;
			height: 6.55rem;
			&-a{
				top: 37.80rem;
			}
		}
	}

	&__btn{
		width: 8.45rem;
		height: 1.80rem;
		border: 1px solid $color-white-1;
		margin-top: 1.10rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		align-items: center;
		padding: 0.20rem 0.45rem;
		
		&--2{
			margin-top: 0.50rem;
		}

		&:hover{
			background-color: $color-white-1;

			& > .btn__txt{
				color: $color-blue-2;
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow-blue.svg');
			}
		}
	}
}