.dial{
	&-group{
		width: 40.48rem;
		height: 20.27rem;
		position: relative;
		&--1,
		&--3{
			margin-top: 5.80rem;
		}
		&--2{
			margin-top: 1.90rem;
		}
	}

	&-tracker{
		&__wrapper{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 10;
			cursor: -webkit-grab;
			cursor: grab;
		}
	}


	&-clock__wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__crown{
		background-color: $color-blue-1;
		width: 2.50rem;
		height: 2.50rem;
		position: absolute;
		bottom: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
	}
	&__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 0 0.62rem 17.80rem 0.62rem;
    border-color: transparent transparent $color-blue-1 transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-90deg);
    transform-origin: 50% 100%;		
	}
	&__context{
		height: 100%;
		width: 100%;
		position: absolute;
		&-section{
	    display: flex;
	    &--1{
		    flex-direction: column;
		    align-items: center;
		    padding-top: 2.00rem;
			}
			&--2{
				margin-top: 8.05rem;
		    justify-content: space-between;
				&-a{
					margin-top: 13.88rem;
				}
			}

			&--3{
				display: none;
				justify-content: center;
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		    top: 22.45rem;		
			}

		}

		&--wrapper{
			display: flex;

			&--1{
				padding-left: 3.30rem;
			}
			&--2{
				padding-right: 3.30rem;	
			}

			&--1{
				padding-left: 3.70rem;
			}
			&--2{
				padding-right: 3.70rem;	
			}						
		}
	}
	&__line{
		background-color: $color-white-1;
	  height: 1.08rem;
	  border: solid 0.20rem $color-white-1;
		
		&--1{

		}
		&--2{
	    transform: rotate(-71deg);
		}
		&--3{
	    transform: rotate(71deg);
		}		
	}
}