.dial{
// DESKTOP LARGE //SMALL
	&-group{

		// width: 40.48rem;
		// height: 20.27rem;
		width: $dial-large;
		height: calc(#{$dial-large} / 2);
		max-width: $dial-width-max;
		max-height: calc(#{$dial-width-max} / 2);
		min-width: 15.05rem;
		min-height: calc(15.05rem / 2);
		// max-width: 56.2vw;
		// max-height: 26.1vw;
		position: relative;
		transform: translateY(-50%);
		margin-top: calc((100vh - 17rem) / 2);

		&--2{
			margin-top: calc((100vh - 20.1rem) / 2);

			@include bp(1440){
				margin-top: calc((100vh - 17rem) / 2);
			}
		}	

		@include bp_min(1441){
			max-width: 40.45rem;
			max-height: calc(40.45rem / 2);

			@include bph_min(1200){
				max-width: 50rem;
				max-height: calc(50rem / 2);
				margin-top: calc((100vh - 30rem) / 2);
			}

			@include bph(825){
				width: $dial-mediumL;
				height: calc(#{$dial-mediumL} / 2);
			}
			@include bph(725){
				width: $dial-mediumS;
				height: calc(#{$dial-mediumS} / 2);
			}
			@include bph(650){
				margin-top: calc((100vh - 16rem) / 2);
			}
			@include bph(590){
				width: $dial-small;
				height: calc(#{$dial-small} / 2);
			}
		}

		@include bp(1440){
			
			@include bph_min(1000){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 30rem) / 2);

				@include bp_min(1200){
					margin-top: calc((100vh - 30.5rem) / 2);
				}
			}

			@include bph(725){
				width: $dial-mediumL;
				height: calc(#{$dial-mediumL} / 2);		
			}
			@include bph(650){
				width: $dial-mediumS;
				height: calc(#{$dial-mediumS} / 2);		
			}
			@include bph(565){
				width: $dial-small;
				height: calc(#{$dial-small} / 2);		
			}
		}
		
		@include bp(1024){
			width: $dial-mediumS;
			height: calc(#{$dial-mediumS} / 2);		
			margin-top: calc((100vh - 16rem) / 2);

			@include bph_min(810){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 27rem) / 2);
			}
		}
		
		@include bp(910){
			width: $dial-small;
			height: calc(#{$dial-small} / 2);		

			@include bph_min(750){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 27rem) / 2);
			}
		}

		




		&--2{

			@include bp_min(1441){
				@include bph(680){
					margin-top: calc((100vh - 15rem) / 2);
				}
			}

			@include bp(1440){
				
			}
		}
	}

	&-tracker{
		&__wrapper{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 10;
			cursor: -webkit-grab;
			cursor: grab;
		}
	}


	&-clock__wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__crown{
		background-color: $color-blue-1;

		width: 6%;
		height: 12%;
		position: absolute;
		bottom: -6%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
	}
	&__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
	border-width: 0 calc(#{$dial-large} * .0175) calc(#{$dial-large} * .5) calc(#{$dial-large} * .0175);


    border-color: transparent transparent $color-blue-1 transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-90deg);
    transform-origin: 50% 100%;		
	}

	&__context{
		height: 100%;
		width: 100%;
		position: absolute;
		
		&-section{
	    display: flex;
		
		&--1{
		    flex-direction: column;
		    align-items: center;
		    padding-top: 4.4%;
			}
			&--2{
				margin-top: 19.5%;
		    	justify-content: space-between;

				@include bp_min(1441){
					@include bph(650){
						margin-top: 18%;
					}
				}
				@include bp(1440){
					@include bph(565){
						margin-top: 18%;
					}
				}



				&-a{					
					margin-top: 35%;
				}
			}

			&--3{
				display: none;
				justify-content: center;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 108%;		
				
			}

		}

		&--wrapper{
			display: flex;

			&--1{
				padding-left: 7.75%;
				
				@include bph(650){
					width: 13rem;
				}
			}
			&--2{
				padding-right: 7.75%;	

			}						
		}
	}
	&__line{
	  background-color: $color-white-1;
	  height: 97%;
	  border: solid 0.10rem $color-white-1;
		
		&--1{
			
		}
		&--2{
			transform: rotate(-71deg);
		}
		&--3{
	    	transform: rotate(71deg);
		}
	}
}