.dial{

	&-group{
		// width: 40.48rem;
		// height: 20.27rem;
		width: $dial-DeskL;
		height: calc(#{$dial-DeskL} / 2);
		// max-width: $dial-width-max;
		// max-height: calc(#{$dial-width-max} / 2);
		// max-width: 56.2vw;
		// max-height: 26.1vw;
		position: relative;

		@include bp(1440){
	    // width: 25.625rem;
		// height: 12.8125rem;
		width: $dial_DeskS;
		height: calc(#{$dial_DeskS} / 2);
	}
		@include bp(1024){
			width: $dial_TabL;
			height: calc(#{$dial_TabL} / 2);
		}
		@include bp(550){
	    width: 15rem;
		height: 7.5rem;
		max-width: 88vw;
		max-height: 44vw;

		}

		&--1,
		&--3{
			margin-top: 4.63vh;

			@include bp(1440){
				margin-top: 1.10rem;
			}
			@include bp(1024){
				margin-top: 1.10rem;
			}
		}
		&--2{
			margin-top: 1.90rem;

			@include bp(1440){
				margin-top: 1.10rem;
			}
		}
	}

	&-tracker{
		&__wrapper{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 10;
			cursor: -webkit-grab;
			cursor: grab;
		}
	}


	&-clock__wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__crown{
		background-color: $color-blue-1;
		width: calc(#{$dial-DeskL} * .06);
		height: calc(#{$dial-DeskL} * .06);
		position: absolute;
		bottom: calc(-#{$dial-DeskL} * .06 / 2);
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
	
    @include bp(1440){
		width: calc(#{$dial-DeskS} * .06);
		height: calc(#{$dial-DeskS} * .06);
		bottom: calc(-#{$dial-DeskS} * .06 / 2);
    }
    @include bp(1024){
		width: calc(#{$dial-TabL} * .06);
		height: calc(#{$dial-TabL} * .06);
		bottom: calc(-#{$dial-TabL} * .06 / 2);
    }
    @include bp(910){
		width: calc(#{$dial-TabS} * .06);
		height: calc(#{$dial-TabS} * .06);
		bottom: calc(-#{$dial-TabS} * .06 / 2);
    }
	}
	&__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
	border-width: 0 calc(#{$dial-DeskL} * .0175) calc(#{$dial-DeskL} * .5) calc(#{$dial-DeskL} * .0175);

    border-color: transparent transparent $color-blue-1 transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-90deg);
    transform-origin: 50% 100%;		
   	@include bp(1440){    
		border-width: 0 calc(#{$dial-DeskS} * .0175) calc(#{$dial-DeskS} * .5) calc(#{$dial-DeskS} * .0175);
    }
   	@include bp(1024){    
		border-width: 0 calc(#{$dial-TabL} * .0175) calc(#{$dial-TabL} * .5) calc(#{$dial-TabL} * .0175);
	}
	}

	&__context{
		height: 100%;
		width: 100%;
		position: absolute;
		
		&-section{
	    display: flex;
		
		&--1{
		    flex-direction: column;
		    align-items: center;
		    padding-top: 4.9%);
			}
			&--2{
				margin-top: 20%;
		    justify-content: space-between;

				&-a{					

					margin-top: 13.88rem;

					@include bp(1440){
						margin-top: 9.6rem;
					}
					@include bp(1024){
						margin-top: 5.3rem;
					}
				}
			}

			&--3{
				display: none;
				justify-content: center;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 22.45rem;		
				
				@include bp(1440){
					top: 13.80rem;
				}
				@include bp(1024){
					top: 8.5rem;
				}
			}

		}

		&--wrapper{
			display: flex;

			&--1{
				padding-left: 8%;
			}
			&--2{
				padding-right: 8%;	

				&-a {
					@include bp(1024){
						width: 6.5rem;
					}				
				}
			}						
		}
	}
	&__line{
		background-color: $color-white-1;
	  height: calc(#{$dial-DeskL} * .025);
	  border: solid 0.10rem $color-white-1;
		
		&--1{

		}
		&--2{
	    transform: rotate(-71deg);
		}
		&--3{
	    transform: rotate(71deg);
		}		
	}
}