.dial{
// DESKTOP LARGE //SMALL
	&-group{

		// width: 40.48rem;
		// height: 20.27rem;
		width: $dial-large;
		height: calc(#{$dial-large} / 2);
		max-width: $dial-width-max;
		max-height: calc(#{$dial-width-max} / 2);
		min-width: 15.05rem;
		min-height: calc(15.05rem / 2);
		// max-width: 56.2vw;
		// max-height: 26.1vw;
		position: relative;
		transform: translateY(-50%);
		margin-top: calc((100vh - 17rem) / 2);

		
		@include bp_min(1441){
			max-width: 40.45rem;
			max-height: calc(40.45rem / 2);

			@include bph_min(1200){
				max-width: 50rem;
				max-height: calc(50rem / 2);
				margin-top: 16.7rem;
			}

			@include bph(825){
				width: $dial-mediumL;
				height: calc(#{$dial-mediumL} / 2);
			}
			@include bph(725){
				width: $dial-mediumS;
				height: calc(#{$dial-mediumS} / 2);
			}
			@include bph(650){
				margin-top: calc((100vh - 16rem) / 2);
			}
			@include bph(590){
				width: $dial-small;
				height: calc(#{$dial-small} / 2);
			}
		}

		@include bp(1440){
			@include bph_min(1000){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 30rem) / 2);

				@include bph_min(1200){
					@include bp_min(1025){
						margin-top: 4.2rem;
						transform: translateY(0%);
					}
				}
				@include bp(1200){
					@include bph_min(1100){
						@include bp_min(1025){
							margin-top: 4.2rem;
							transform: translateY(0%);
						}
					}
				}
			}

			@include bph(725){
				width: $dial-mediumL;
				height: calc(#{$dial-mediumL} / 2);		
			}
			@include bph(650){
				width: $dial-mediumS;
				height: calc(#{$dial-mediumS} / 2);		
			}
			@include bph(565){
				width: $dial-small;
				height: calc(#{$dial-small} / 2);		
			}
		}
		
		@include bp(1024){
			width: $dial-mediumS;
			height: calc(#{$dial-mediumS} / 2);		
			margin-top: calc((100vh - 16rem) / 2);

			@include bph_min(810){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 27rem) / 2);
			}
			@include bph_min(970){
				@include bp_min(911){
					margin-top: 4.2rem;
					transform: translateY(0%);
				}
			}
		}
		
		@include bp(910){
			width: $dial-small;
			height: calc(#{$dial-small} / 2);		

			@include bph_min(750){
				max-width: $dial-width-max2;
				max-height: calc(#{$dial-width-max2} / 2);		
				margin-top: calc((100vh - 27rem) / 2);
			}
			@include bph_min(930){
				@include bp_min(768){
					margin-top: 4.2rem;
					transform: translateY(0%);
				}
			}
		}
		@include bp(767){
			@include bp_min(666){
				@include bph(500){
					position: absolute;
					top: 4rem;
					right: 1.5rem;
					margin-top: 0;
				}		
			}
			@include bph_min(715){
				margin-top: calc((100vh - 24rem) / 2);
			}
			@include bph_min(850){
				@include bp_min(667){
					margin-top: 4.2rem;
					transform: translateY(0%);
				}
			}
		}

		@include bp(666){
			margin-top: calc((100vh - 15rem) / 2);
			@include bph_min(630){
				margin-top: 4.2rem;
				transform: translateY(0%);
			}
		}

		@include bp(450){
			margin-left: auto;
			margin-right: auto;
		}
		

		&--2{
			margin-top: calc((100vh - 20.1rem) / 2);
			
			@include bp_min(1441){
				@include bph(650){
					margin-top: calc((100vh - 15rem) / 2);
				}

				@include bph_min(1200){
					max-width: 50rem;
					max-height: calc(50rem / 2);
					margin-top: 14.7rem;
				}
			}
			@include bp(1440){
				margin-top: calc((100vh - 17rem) / 2);
				@include bph_min(1000){
					margin-top: calc((100vh - 30rem) / 2);
	
					@include bph_min(1200){
						@include bp_min(1025){
							margin-top: 4.2rem;
							transform: translateY(0%);
						}
					}
					@include bp(1200){
						@include bph_min(1100){
							@include bp_min(1025){
								margin-top: 4.2rem;
								transform: translateY(0%);
							}
						}
					}
				}	
			}
			@include bp(1024){ margin-top: calc((100vh - 16rem) / 2); 
				@include bph_min(810){ margin-top: calc((100vh - 27rem) / 2); }
				@include bph_min(970){
					@include bp_min(911){
						margin-top: 4.2rem;
						transform: translateY(0%);
					}
				}
	
			}
	
			@include bp(910){ 
				@include bph_min(750){ margin-top: calc((100vh - 27rem) / 2); }
				@include bph_min(930){
					@include bp_min(768){
						margin-top: 4.2rem;
						transform: translateY(0%);
					}
				}	
			}
			@include bp(767){
				@include bp_min(666){
					@include bph(500){
						position: absolute;
						top: 4rem;
						right: 1.5rem;
						margin-top: 0;
					}		
				}
				@include bph_min(715){ margin-top: calc((100vh - 24rem) / 2); }
				@include bph_min(750){ margin-top: calc((100vh - 26rem) / 2); }
				@include bph_min(850){
					@include bp_min(667){
						margin-top: 4.2rem;
						transform: translateY(0%);
					}
				}
	
			}
			@include bp(666){
				margin-top: calc((100vh - 15rem) / 2);
				@include bph_min(630){
					margin-top: 4.2rem;
					transform: translateY(0%);
				}				
			}
			@include bp(450){
				margin-left: auto;
				margin-right: auto;
			}
			// Ahoy	
		}

		&--x{
			margin-top: 2.00rem;
			.page.zoomed .page__content > &{
				margin-top: 34rem;
			}
			
			transform: none;
			height: 21.85rem;
		}
	}

	&-tracker{
		&__wrapper{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 10;
			cursor: -webkit-grab;
			cursor: grab;
		}
	}


	&-clock__wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__crown{
		background-color: $color-blue-1;

		width: 6%;
		height: 12%;
		position: absolute;
		bottom: -6%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
	}
	&__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
		border-width: 0 calc(#{$dial-large} * .0175) calc(#{$dial-large} * .5) calc(#{$dial-large} * .0175);

		cursor: grab;
    border-color: transparent transparent $color-blue-1 transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-90deg);
    transform-origin: 50% 100%;		
	}

	&__context{
		height: 100%;
		width: 100%;
		position: absolute;
		
		&-section{
	    display: flex;
		
			&--1{
				flex-direction: column;
				align-items: center;
				padding-top: 4.7%;
				@include bp_min(768){
					padding-top: 4.4%;
				}

			}
			&--2{
				margin-top: 15.7%;

				justify-content: space-between;
				align-items: center;
				height: 2.2rem;


				@include bp_min(768){
					margin-top: 17.7%;
					@include bph_min(725){
						margin-top: 21%;
					}
				}
				@include bp_min(1441){
					margin-top: 17%;
				}

				&-a{					
					margin-top: 31%;
					@include bp_min(768){
						margin-top: 34%;
						@include bph_min(725){
							margin-top: 37%;
						}
					}
					@include bp_min(1441){
						margin-top: 33%;
					}
				}
			}

			&--3{
				display: none;
				justify-content: center;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 108%;		
				
			}

		}

		&--wrapper{
			display: flex;
			align-items: center;

			&--1{
				padding-left: 7.5%;
				flex: 0 1 53%;

				@include bph_min(900){ width: auto; }
			}
			&--2{
				padding-right: 7.5%;
			}						
		}
	}
	&__line{
	  background-color: $color-white-1;
	  height: 97%;
	  border: solid 0.10rem $color-white-1;
		
		&--1{
			
		}
		&--2{
			transform: rotate(-71deg) translateX(50%);
		}
		&--3{
	    	transform: rotate(71deg) translateX(-50%);
		}
	}
}