.dial{

	&-group{
		width: 40.48rem;
		height: 20.27rem;
		position: relative;

		@include bp(1440){
	    width: 25.625rem;
	    height: 12.8125rem;
		}
		@include bp(1025){
	    width: 15rem;
	    height: 7.5rem;
		}

		&--1,
		&--3{
			margin-top: 5.80rem;

			@include bp(1440){
				margin-top: 1.10rem;
			}
			@include bp(1025){
				margin-top: 1.10rem;
			}
		}
		&--2{
			margin-top: 1.90rem;

			@include bp(1440){
				margin-top: 1.10rem;
			}
		}
	}

	&-tracker{
		&__wrapper{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 10;
			cursor: -webkit-grab;
			cursor: grab;
		}
	}


	&-clock__wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
	}
	&__crown{
		background-color: $color-blue-1;
		width: 2.50rem;
		height: 2.50rem;
		position: absolute;
		bottom: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    @include bp(1440){
    	width: 2rem;
    	height: 2rem;
    	bottom: -1rem;
    }
    @include bp(1025){
    	width: 1.2rem;
    	height: 1.2rem;
    	bottom: -.6rem;
    }
	}
	&__hand{
    width: 0;
    position: absolute;
    height: 0;
    border-style: solid;
		border-width: 0 0.62rem 17.80rem 0.62rem;

    border-color: transparent transparent $color-blue-1 transparent;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)rotate(-90deg);
    transform-origin: 50% 100%;		
   	@include bp(1440){    
    	border-width: 0 0.496rem 12.8125rem 0.496rem;
    }
   	@include bp(1025){    
    	border-width: 0 0.3rem 7.4rem 0.3rem;
    }
	}
	&__context{
		height: 100%;
		width: 100%;
		position: absolute;
		
		&-section{
	    display: flex;
		
		&--1{
		    flex-direction: column;
		    align-items: center;
		    padding-top: 2.00rem;
		    @include bp(1440){
		    	padding-top: .8rem;
		    }
		    @include bp(1025){
		    	padding-top: .2rem;
		    }
			}
			&--2{
				margin-top: 8.05rem;
		    justify-content: space-between;
				@include bp(1440){
					margin-top: 5.2rem;
				}
				@include bp(1025){
					margin-top: 2.5rem;
				}

				&-a{					

					margin-top: 13.88rem;

					@include bp(1440){
						margin-top: 9.6rem;
					}
				}


			}

			&--3{
				display: none;
				justify-content: center;
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		    top: 22.45rem;		
		    
		    @include bp(1440){
		    	top: 13.80rem;
		    }
			}

		}

		&--wrapper{
			display: flex;

			&--1{
				padding-left: 3.70rem;
				@include bp(1440){
					padding-left: 1.7rem;
				}				
				@include bp(1025){
					padding-left: .75rem;
				}				
			}
			&--2{
				padding-right: 3.70rem;	
				@include bp(1440){
					padding-right: 1.7rem;
				}				
				@include bp(1025){
					padding-right: .75rem;
					width: 6.5rem;
				}				
			}						
		}
	}
	&__line{
		background-color: $color-white-1;
	  height: 1.08rem;
	  border: solid 0.10rem $color-white-1;
		
		&--1{

		}
		&--2{
	    transform: rotate(-71deg);
		}
		&--3{
	    transform: rotate(71deg);
		}		
	}
}