.header {
	&__logo{		
	  flex: 0 0 5.20rem;
	  height: 1.60rem;	 
	  align-self: flex-end;
	  background-image: url("../assets/images/desktop/logo-white.svg");
	  margin-right: auto;

	  &:hover{
		  cursor: pointer;
	  }
	}			
	&__wrapper{
		display: flex;
		justify-content: space-between;
		&--1{
			flex: 0 0 8.4rem;
			height: 2.00rem;
			padding-left: 3.20rem;
			&.activate{
				padding-left: 0;
			}
		}
	}
	&__copyright{
		margin-right: 1.25rem;
		display: flex;
		align-items: center;
	}
	&__rectangle {
		
		display: flex;
		justify-content: center;
		align-items: center;

		width: 2rem;
		position: relative;

		&__grow{
			width: 2rem;
			border-radius: 1rem;
			border: solid 0.10rem $color-blue-1;
			justify-content: center;
			background-color: $color-blue-2;
			padding: .3rem;
			
			display: flex;
			align-items: center;
		  
			cursor: pointer;

			position: absolute;
			top: 0;
			right: 0;
			overflow: hidden;

			&:hover{
				width: auto;

				& > *{
					display: block;
				}

				& img{
					align-self: flex-start;
				}
			}
		}
	
		&:not(:last-of-type){
			  margin-right: 1.20rem;
		}

		&--1{
			display: none;

			&:hover{
				
			}
		
			&.toggle{
				display: flex;
			}		
		}
			}

	&__bar{
		font-size: 1.4rem;
		transform: translateY(9%);
	}
}



