.line{
	&__wrapper{
    height: 1px;
    width: 1px;
    position: absolute;
		z-index: 1;
    overflow: visible;			
	}
  
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 4;
  stroke-dashoffset: 8;
  animation: stroke 0.2s linear infinite;

	&--1{
	  background-color: #120;
	}
	&--2{
	  background-color: #230;
	}
	&--3{
	  background-color: #340;
	}		
}