.line{
	&__wrapper{
    height: 5.00rem;
    width: 70rem;
    position: absolute;
		z-index: 1;
    overflow: visible;			
    left: 50%;
    transform: translateX(-50%);
    
    &--1{
      &.activate{
        opacity: 1;
      }
    }
	}
  
  stroke: $color-grey-1;
  stroke-width: 2;
  stroke-dasharray: 4;
  stroke-dashoffset: 8;
  animation: stroke 0.2s linear infinite;		

  &.activate{
  	animation: fadewhite .5s linear;  	
  	stroke: $color-white-1;
  	stroke-dasharray: 0;
  }
}