.pagination{
	display: flex;	
	margin-top: 1rem;
	justify-content: space-between;
	font-weight: 700;
	transform: all 500ms;

	&--1{
		width: 2.55rem;
	}
	&--2{
		width: 3.50rem;
	}
	&--3{
		width: 5.10rem;
	}

	&--active{
    color: $color-blue-1;
	}

	@include bph(725){
		position: absolute;
    bottom: 3.00rem;
    right: 0;
	}
	@include bp(767){
    right: 0.8rem;
	}

}
