.pagination{
	display: flex;	
	margin-top: 1rem;
	justify-content: space-between;
	font-weight: 700;
	transform: all 500ms;

	@include bp_min(1441){
		@include bph(750){
		position: absolute;
		top: 7.4rem;
		right: 1rem;
		margin-top: 0;
		}
	}
	@include bp(1440){
		@include bph(600){
		position: absolute;
		top: 7.4rem;
		right: 1rem;
		margin-top: 0;
		}
	}

	&--1{
		width: 2.55rem;

		@include bp(767){
			right: 0.8rem;
			@include bp_min(667){
				@include bph(514){
					right: 18.2rem;
					bottom: auto;
					top: 17.2rem;
				}
				@include bph(450){
					top: 14.4rem;
				}
				@include bph(380){
					top: 11.7rem;
				}
			}
		}
	}
	&--2,
	&--3{
		margin-top: 2rem;
	}

	&--2{
		width: 3.50rem;
	}
	&--3{
		width: 5.10rem;

		@include bp_min(1441){
			@include bph(750){ 
				margin: 0;
				right: 9.5rem;
				top: 20rem; 
			}
			@include bph(675){ top: 18.95rem; }
			@include bph(650){ top: 12.3rem; }
		}
		@include bp(1440){ 
			@include bph(600){
				margin: 0;
				right: 8rem; ;
				top: 12.3rem;
			}
		}
		@include bp(1024){
			@include bph(600){ top: 10.5rem; }
		}
		@include bp(910){
			@include bph(600){ 
				right: 5.2rem;
				top: 11.5rem; 
			}
			@include bph(550){ top: 10.5rem; }
		}
	}

	&--2,
	&--3{

		@include bp(767){
			position: relative;
			top: auto;
			right: auto;
			margin-top: .2rem;

			@include bph(515){
				position: absolute;
				margin-top: 0;
				top: 4rem;
				left: .9rem;
			}
			@include bph_min(575){
				margin-top: 1.5rem;
			}
		}
		@include bp(665){
			margin: 0;
			position: absolute;
			top: auto;
			left: auto;
			bottom: 2.2rem;
			right: .85rem;
		}
	}

	&--active{ color: $color-blue-1; }

}
