.pagination{
	display: flex;	
	margin-top: 1rem;
	justify-content: space-between;
	font-weight: 700;
	transform: all 500ms;

	@include bp_min(1441){
		@include bph(750){
			position: absolute;
			margin-top: 0;
		}
	}
	@include bp(1440){
		@include bph(600){
			position: absolute;
			margin-top: 0;
		}
	}

	&--1{
		width: 2.55rem;

		@include bp_min(1441){
			@include bph(750){ 
				margin: 0;
				right: 12.25rem;
				top: 11rem; 
			}
			@include bph(650){ top: 7rem; }
		}
		@include bp(1440){ 
			@include bph(600){
				top: 7.2rem;
				right: 7.3rem;
			}
			@include bph(530){ top: 6.7rem; }
		}
		@include bp(1024){ 
			@include bph(600){ top: 7rem; }
			@include bph(530){ 
				top: auto;
				bottom: 3rem; 
				right: 0;
			}
		}
		@include bp(910){ 
			@include bph(600){ 
				position: absolute;
				top: auto;
				bottom: 3rem;
				right: 0; 
			}
		}


		@include bp(767){
			right: 0.8rem;
			@include bp_min(667){
				@include bph(514){
					right: auto;
					bottom: auto;
					top: 4rem;
					left: 0.8rem;
				}
			}
		}
	}
	&--2,
	&--3{
		margin-top: 2rem;
		// //Check if Selection applies as well
		// @include bp(1024){
		// 	@include bph(650){
		// 		position: absolute;
		// 		top: 12.5rem;
		// 		right: 8rem;
		// 	}
		// }
	}

	&--2{
		width: 3.50rem;

		@include bp_min(1441){
			@include bph(750){ 
				margin: 0;
				right: 10.8rem;
				top: 18.5rem; 
			}
			@include bph(675){ top: 17.45rem; }
			@include bph(650){ top: 10.8rem; }
		}
		@include bp(1440){ 
			@include bph(600){
				margin: 0;
				right: 9.3rem; ;
				top: 10.7rem;
			}
		}
		@include bp(1024){
			@include bph(600){ top: 8.9rem; }
		}
		@include bp(910){
			@include bph(600){ 
				right: 6.2rem;
				top: 9.3rem; 
			}
			@include bph(550){ top: 8.3rem; }
		}
	}
	&--3{
		width: 5.10rem;

		@include bp_min(1441){
			@include bph(750){ 
				margin: 0;
				right: 9.5rem;
				top: 20rem; 
			}
			@include bph(675){ top: 18.95rem; }
			@include bph(650){ top: 12.3rem; }
		}
		@include bp(1440){ 
			@include bph(600){
				margin: 0;
				right: 8rem; ;
				top: 12.3rem;
			}
		}
		@include bp(1024){
			@include bph(600){ top: 10.5rem; }
		}
		@include bp(910){
			@include bph(600){ 
				right: 5.2rem;
				top: 11.5rem; 
			}
			@include bph(550){ top: 10.5rem; }
		}
	}

	&--2,
	&--3{

		@include bp(767){
			position: relative;
			top: auto;
			right: auto;
			margin-top: .2rem;

			@include bph(515){
				position: absolute;
				margin-top: 0;
				top: 4rem;
				left: .9rem;
			}
			@include bph_min(575){
				margin-top: 1.5rem;
			}
		}
		@include bp(665){
			margin: 0;
			position: absolute;
			top: auto;
			left: auto;
			bottom: 2.2rem;
			right: .85rem;
		}
	}

	&--active{ color: $color-blue-1; }


	&__wrapper{
		width: 2.20rem;
		height: 0.20rem;
		background-color: orangered;		
    display: flex;
    justify-content: space-between;
	}		

	&__circles{
		width: .2rem;
		height: .2rem;
		background-color: $color-blue-1;
		border-radius: 1000px;

		&--activate{
			background-color: $color-white-1;
		}
	}
}
