.scroller{
	&__wrapper{
		width: 40.90rem;		
		margin-top: 3.00rem;
		
		@include bp(1300){
			width: 60%;	
		}
		&--1{
	    height: 23.15rem;
		}
		&--2{
	    height: 30.15rem;
		}		

	}
	&__content{
		width: 39.75rem;
		height: 2.70rem;
		border-radius: 0.20rem;
		// opacity: 0.25;		
		background-color: $color-white-1;
		margin: 0 auto;
		padding-left: 0.8rem;
		padding-right: 0.8rem;

		@include bp(1350){
			width: 97%;
		}
		& > *{
			display: none;
		}

		&--active{
			height: 12.65rem;
			opacity: 1;
			width: 40.90rem;
			padding-left: 0.86rem;
			padding-right: 0.86rem;

			@include bp(1440){
				width: 100%;
			}
		


			& > *{
				display: flex;
			}
		}

		&--deactive{
			opacity: 0.25;		
		}
		&:not(:last-of-type){
			margin-bottom: 0.80rem;
		}
	}
	&__icon{
		height: 2.00rem;
		width: 2.00rem;
		margin-right: 0.75rem;
		transform: translateY(-3%);

		.scroller__content--active &{
			margin-right: 1.05rem;
			height: 2.20rem;
			width: 2.2rem;			

			// @include bp(1440){
			// 	margin: 0;
			// 	height: 1.8rem;
			// 	flex: 0 0 1.8rem;
			// 	margin-right: .86rem;
			// }			
			@include bp(1150){
		    margin: 0;
		    margin-right: 1.05rem;
			}
			@include bp(1050){
				margin-right: 0.80rem;
			}
			&--2 {
				transform: translateY(0%);
			}
			&--1-b {
				transform: translateY(-11%);
			}
			&--2-b,
			&--6-b {
				transform: translateY(-5%);
			}
			&--5-b {
				transform: translateY(-7%);
			}
		}

	}
	&__mid{
    justify-content: space-between;		
		height: 3.55rem;
		padding-top: 1.15rem;
	}
	&__header{
		display: flex;
		height: 100%;
		align-items: center;

		// @include bp(1440){
		// 	padding-top: 0.49rem;
		// 	align-items: flex-end;
		// }

		.scroller__content--active &{
			height: auto;
			// align-items: flex-end; 
			@include bp(1150){
				height: 3.3rem;
				align-items: flex-end;
			}
		}
	}
	&__down{
	  width: 1.20rem;
	  height: 1.20rem;
    background-image: url(../assets/graphics/down-blue.svg);
		// background-color: green;
		.scroller__content--active &{
			display: none;
		}
	}
}

.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 1.10rem;
}

.rangeslider {
  position: relative;
	
  &--horizontal{
	  width: 39.17rem;
	  // height: 2.20rem;
	  // border: solid 2px $color-blue-4;
	  height: 0;
	  border: 0;
	  // overflow: hidden;
	  cursor: pointer;
		
		@include bp(1350){
			width: 100%;
		}

	  .scroller__content--active &{
		  height: 2.20rem;
		  border: solid 2px $color-blue-4;	  	
		  margin-top: 0.65rem;
	  }
  }

  &__fill{
	  background: $color-blue-2;
	  position: absolute;  	
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		.rangeslider--horizontal & {
		  top: 0;
		  height: 100%;			
		}
  }

  &__handle{
	  background: white;
	  cursor: pointer;
	  display: inline-block;
	  position: absolute;
	  &::after{
			content: "";
			height: 0;
	  }
		.scroller__content--active &::after {
			content: "";
		display: block;
	    width: 0.80rem;
	    height: 1.05rem;
	    background-color: $color-blue-2;
	    position: absolute;
	    transform: translateX(-50%);
	    margin-top: 2.45rem;

		-webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
		clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);  
		}  
  }
}
