.selection{	
	&__wrapper{
		width: 23rem;
		height: 41%;

		max-width: 46.45rem;
		max-height: 21.25rem;
		display: flex;
		margin-top: 1.85rem;

		flex-direction: column;
		flex-wrap: wrap;

		@include bp_min(1441){
			height: 21rem;
			max-height: 27.5rem;
			@include bph(800){
				height: 17rem;
			}
			@include bph(720){
				height: 13rem;
			}
			@include bph_min(1015){
				transform: translateY(-50%);
				margin-top: calc((100vh - 26rem) / 2);
			}
		}

		@include bp(1440){
			height: 15rem;
			width: 26rem;
			@include bph(650){
				height: 15rem;
			}
			@include bph_min(740){
				width: 17rem;
				height: 18rem;
			}
			@include bph_min(850){
				height: 19rem;
				margin-top: calc((100vh - 14.5rem) / 2 - (3 * 10vh));
			}
		}
		@include bp(1024){
			@include bph(530){
				height: 10rem;
			}
			@include bph_min(740){
				width: 17rem;
				height: 18rem;
			}
			@include bph_min(850){
				height: 19rem;
			}
		}
		@include bp(910){
			width: 17rem;
			height: 17.5rem;
			@include bph(700){ margin-top: 1rem; }
			@include bph(600){
				height: 15rem;
			}
			@include bph(530){
				margin-top: 1rem;
			}
		}
		@include bp(767){
			height: 15rem;
			margin-top: .6rem;
			@include bp_min(667){
				@include bph(514){
					margin: 0;
					height: 15rem;
					width: 17.6rem;
					position: absolute;
					right: .3rem;
					top: 4rem;
				}
				@include bph(380){
					right: 2.8rem;
					top: 1.3rem;
				}
			}
			@include bph_min(726){
				height: 15rem;
				margin-top: calc((100vh - 35.1rem) / 2);
			}
		}
		@include bp(666){
			width: 17.6rem;
			margin: 0.9rem auto;
		}

		&--x{
			width: 38.40rem;
			height: 22.00rem;

			@include bp_min(1441){
				@include bph_min(1050){
					transform: translateY(0%);
					margin-top: 1.85rem;
				}
			}

		}
	}
	&__container{
		width: 14.65rem;
		background-color: transparent;
		border: solid 2px $color-blue-1;
		cursor: pointer;
		padding: .50rem;
		margin-bottom: 1.25rem;
		margin-right: 1.25rem;

		&--3{ order: 0; }
		&--4{ order: 4; }
		&--5{ order: 5; }
		&--6{ order: 6; }
		&--7{ order: 7; }
		&--8{ order: 8; }
		@include bp_min(1441){
			@include bph(800){
				width: 11.1rem;
				margin-right: .45rem;
				margin-bottom: .45rem;
			}
			@include bph(720){
				&--3{
					order: 8;
				}
			}
		}

		@include bp(1440){
			width: 8.35rem;
			margin-right: .45rem;
			margin-bottom: .45rem;
			padding: .25rem;
			@include bph_min(740){
				&--4{order: 6; }
			}
			@include bph_min(850){
				&--4{order: 4; }
				width: 11.9rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				padding: .4rem;
			}
		}

		@include bp(1024){
			@include bph(530){
				&--3{ order: 10; }
			}
			
			@include bph_min(740){
				&--4{order: 6; }
			}
			@include bph_min(850){
				width: 11.9rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				padding: .4rem;
			}
		}
		@include bp(910){
			width: 8.35rem;
			margin-right: .45rem;
			margin-bottom: .45rem;
			padding: .25rem;
			
			&--4{
				order: 6; 
				@include bph(600){ order: 5; }
			}
			@include bph(530){ 
				&--3{ order: 0; }
			}
		}
		@include bp(767){
			padding: .2rem;

			&--4{ order: 4; }

			@include bph(514){
				&--4{ order: 5; }

			}

		}
		
		&:hover{
			background-color: rgba(0, 117, 143, 0.15);
		}

		&--active{
			background-color: $color-blue-1;

			&:hover{
				background-color: $color-blue-1;
			}
		}

		&--x{
			width: 11.90rem;
			// background-color: blue;
			margin-bottom: 0.90rem;
			margin-right: 0.90rem;
			padding: 0.35rem 0.60rem 0.60rem 0.65rem;
			&-1{
				height: 7.05rem;
			}
			&-2{
				height: 6.10rem;
			}
			&:hover{
				pointer-events: none;
			}
		}
	}	
	&__header{
		&-x{
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
		}
	}
	&__line{
		height: 0.05rem;
    color: rgb(255,255,255);
    background-color: rgb(255,255,255);
    opacity: .8;
    border: none;
    margin-top: 0.48rem;
    
	}
}