.selection{	
	&__wrapper{
		width: 23rem;
		height: 41%;

		max-width: 46.45rem;
		max-height: 21.25rem;
		display: flex;
		margin-top: 1.85rem;

		flex-direction: column;
		flex-wrap: wrap;

		@include bp_min(1440){
			height: 59%;
			max-height: 27.5rem;
			@include bph(720){
				height: 13rem;
			}
		}

		@include bp(1440){
			height: 15rem;
			width: 26rem;
			@include bph(650){
				height: 64%;
			}
			@include bph_min(850){
				height: 19rem;
			}
		}

		@include bp(1024){
			@include bph(530){
				height: 10rem;
			}
			@include bph_min(750){
				width: 17rem;
				height: 30rem;
			}
			@include bph_min(740){
				width: 17rem;
				height: 30rem;
			}
			@include bph_min(850){
				height: 19rem;
			}
		}
	}
	&__container{
		width: 14.65rem;
		background-color: transparent;
		border: solid 2px $color-blue-1;
		cursor: pointer;
		padding: .50rem;
		margin-bottom: 1.25rem;
		margin-right: 1.25rem;

		@include bp_min(1441){
			@include bph(800){
				width: 11.1rem;
				margin-right: .45rem;
				margin-bottom: .45rem;
			}
			@include bph(721){
				&--3{
					order: 1;
				}
			}
		}

		@include bp(1440){
			width: 8.35rem;
			margin-right: .45rem;
			margin-bottom: .45rem;
			padding: .25rem;
			@include bph_min(850){
				width: 11.9rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				padding: .4rem;
			}
		}

		@include bp(1024){
			@include bph(524){
				&--3{
					order: 1;
				}
			}
			@include bph_min(850){
				width: 11.9rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				padding: .4rem;
			}
		}
		
		&:hover{
			background-color: rgba(0, 117, 143, 0.15);
		}

		&--active{
			background-color: $color-blue-1;

			&:hover{
				background-color: $color-blue-1;
			}
		}
	}	
}