.selection{	
	&__wrapper{
		width: 46.45rem;
		height: 21.25rem;
		display: flex;
		margin-top: 1.85rem;

		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;

		@include bp(1440){
			width: 73%;
			height: 14.2rem;
			margin-top: 1rem;
		}
	}
	&__container{
		width: 14.65rem;
		background-color: transparent;
   	border: solid 2px $color-blue-1;
		cursor: pointer;
		padding: .60rem;

		&:nth-child(n+4){
	    transform: translateX(0.35rem);
		}

		@include bp(1440){
			width: 11rem;
		}
		
		&:hover{
			background-color: rgba(0, 117, 143, 0.15);
		}

		&--active{
			background-color: $color-blue-1;

			&:hover{
				background-color: $color-blue-1;
			}
		}
		&--1{
			flex: 0 0 9.45rem;
		}
		&--2,
		&--3,
		&--6{
			flex: 0 0 4.65rem;
		}
		&--4,
		&--7{
			flex: 0 0 7.70rem;
			}

		&--5,
		&--8{
			flex: 0 0 6.25rem;
			}
		&--8{
			margin-bottom: 5.95rem;
			@include bp(1440){
				margin-bottom: auto;
				margin-top: .8rem;
			}
			}
	@include bp(1440){
		width: 31%;
		flex: 0 0 auto;
		padding: 0.5rem;
	}
}	
}