.main_container{
	width: 100vw;
  height: 100vh;
  position: absolute;
  border: solid 0.25rem black;
  left: 50%;
  transform: translateX(-50%);
}
.pathfinder{
  background-color: dodgerblue;
  transition: all 3000ms;
  transition-timing-function: cubic-bezier(.84,.09,.19,.92);
}