.main-container{
	// width: 100vw;
 //  height: 100vh;
 //  position: absolute;
 //  border: solid 0.25rem black;
 //  left: 50%;
 //  transform: translateX(-50%);
	opacity: 1;
	&--x{
		z-index: 	4;
		& > *{
			opacity: 	0;
		}
		&.activate{
			& > *{
				opacity: 	1;
			}
		}		
	}
	&-resize{
		opacity: 1;
		transition: opacity 500ms;
		transition-timing-function: ease-in;
	  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}
.pathfinder{
  background-color: dodgerblue;
  transition: all 800ms;
  transition-delay: 300ms;
  // transition-timing-function: cubic-bezier(.84,.09,.19,.92);
}

