.main-container{
	// width: 100vw;
 //  height: 100vh;
 //  position: absolute;
 //  border: solid 0.25rem black;
 //  left: 50%;
 //  transform: translateX(-50%);
	opacity: 1;
	&--x{
		z-index: 	4;
		padding-top: 13.70rem;
		& > *{
			opacity: 	0;
		}
		&.activate{
			& > *{
				opacity: 	1;
			}
		}		
	}
	&-resize{
		opacity: 1;
		transition: opacity 500ms;
		transition-timing-function: ease-in;
	  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}
.pathfinder{
  background-color: dodgerblue;
  transition: all 1100ms;
  // transition-delay: 300ms;
  // transition-timing-function: cubic-bezier(.84,.09,.19,.92);

	&--x{
		transform: scale(0.1) translate(-665px, 138rem);

		&.zoom-in{
			&--2{
				transform: scale(1) translate(-92.70rem, -50rem);
			}
			&--3{
				transform: scale(1) translate(-278.1rem, -100rem);
			}
			&--4{
				transform: scale(1) translate(-278.1rem, -100rem);
			}
			&--5{
				transform: scale(1) translate(-278.1rem, 150rem);
			}
			&--6{
				transform: scale(1) translate(0, 150rem);
			}
			&--7{
				transform: scale(1) translate(185.4rem, -100rem);
			}
		}
	}
}

