.footer{
    position: fixed;
    z-index: 1;
    width: 70rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    top: calc(100vh - 1.75rem);
    transform: translateY(-50%);

    z-index: -1;
    opacity: 0;

	transition-property: opacity;
    transition-duration: .5s;
		
		&.activate{
			z-index: 1;
			opacity: 1;
		}

	@include bp(1440){
		width: 83.333%;
	}
    @include bp(1024){
    	width: 42.09rem;
    }
}