.footer{
    position: fixed;
    z-index: 1;
    width: 70.00rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    top: 51.20rem;

    z-index: -1;
    opacity: 0;

		transition-property: opacity;
    transition-duration: 1.5s;
    transition-delay: .5s;    
		
		&.activate{
			z-index: 1;
			opacity: 1;
		}

    @include bp(1440){
    	width: 42.49rem;
    	top: 29.70rem;
    }
}