.header__container{
	position: fixed;
	z-index: 1;
  width: 70.00rem;
  margin: 0 auto;
	height: 2.95rem;
  left: 0;
  right: 0;
  display: flex;
	justify-content: space-between;
	padding-top: 0.95rem;

	@include bp(1050){
		width: 42.49rem;
	}
}

