.results{
	&__main{
		height: 51.80rem;
		background-color: hotpink;
		width: 100%;
		margin-top: 7.70rem;
		display: flex;
	}
	&__body{
		flex: 0 0 49.25rem;
		margin-right: auto;
		background-color: orangered;
		// height: 300px;
	}
	&__sidebar{
		flex: 0 0 17.20rem;
		background-color: dodgerblue;
		// height: 300px;
	}
}